---
layout: page
---
<style>
  .profile-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .profile-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(33.33% - 40px);
  }

  .profile-image {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 3px;
  }

  .profile-name {
    font-size: 20px;
    font-weight: 400;
  }

  .profile-role {
    font-size: 18px;
    font-weight: 300;
    color: #666;
  }

  .profile-links a {
    color: #666;
    font-size: 18px;
    margin-right: 5px;
    transition: color 0.1s;
  }

  /* Light mode styles */
  :root {
    --profile-link-color: #8cb3d9;
    --profile-link-hover-color: #33a5ff;
    --separator-color: #b3b3b3;
    --separator-height: 1px;
  }

  /* Dark mode styles */
  @media (prefers-color-scheme: dark) {
    :root {
      --profile-link-color: #666;
      --profile-link-hover-color: #33a5ff;
      --separator-color: #444;
      --separator-height: 1px;
    }
  }

  .profile-links a {
    color: var(--profile-link-color);
  }

  .profile-links a:hover {
    color: var(--profile-link-hover-color);
  }

  /* Profile picture sizes*/
  @media (max-width: 768px) {
    .profile-item {
      width: calc(50% - 40px);
    }
  }

  @media (max-width: 576px) {
    .profile-item {
      width: calc(100% - 40px);
    }
  }

  .separator {
    width: 100%;
    height: var(--separator-height);
    background-color: var(--separator-color);
    margin: 0px 0px;
    margin-bottom: 20px;
  }
  

  .section-title {
    text-align: center;
    font-weight: 400;
  }



</style>

<!-- Image -->
<div class="row">
  <!-- Empty column on the left -->
  <div class="col-1"></div>

  <div class="col-10 mt-3 mt-md-0">
    {% include figure.liquid loading="eager" path="assets/img/comics/personality.png" title="example image" class="img-fluid rounded z-depth-1" style="width: 500px !important;" %}
  </div>

  <!-- Empty column on the right -->
  <div class="col-1"></div>
</div>

<hr />
<h3 class='utk-gray-changing'>Members</h3>
<div class="profile-image-container">
  {% if page.profiles %}
    {% for profile in page.profiles %}
      {% if profile.alumni != true %}
        <div class="profile-item">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% include figure.liquid loading="eager" path=profile_image_path class="profile-image z-depth-1" alt=profile.image %}
          {% endif %}
          <div class="profile-name">{{ profile.name }}</div>
          <div class="profile-role">{{ profile.role }}</div>
          {% if profile.more %}
            <div class="profile-role">{{ profile.more }}</div>
          {% endif %}

          {% if profile.links %}
            <div class="profile-links">
              {% for link in profile.links %}
                {% if link.label == 'Website' %}
                  <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-globe"></i></a>
                {% elsif link.label == 'LinkedIn' %}
                  <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
                {% elsif link.label == 'Google Scholar' %}
                  <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-graduation-cap"></i></a>
                {% elsif link.label == 'GitHub' %}
                  <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
                {% elsif link.label == 'Email' %}
                  <a href="mailto:{{ link.url }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-envelope"></i></a>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>
<br>

<hr />
<h3 class='utk-gray-changing'>Alumni</h3>
<div class="profile-image-container">
  {% if page.profiles %}
    {% for profile in page.profiles %}
      {% if profile.alumni == true %}
        <div class="profile-item">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% include figure.liquid loading="eager" path=profile_image_path class="profile-image z-depth-1" alt=profile.image %}
          {% endif %}
          <div class="profile-name">{{ profile.name }}</div>
          <div class="profile-role">{{ profile.role }}</div>
          {% if profile.more %}
            <div class="profile-role">{{ profile.more }}</div>
          {% endif %}
          
          {% if profile.links %}
            <div class="profile-links">
              {% for link in profile.links %}
                {% if link.label == 'Website' %}
                  <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-globe"></i></a>
                {% elsif link.label == 'LinkedIn' %}
                  <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
                {% elsif link.label == 'Google Scholar' %}
                  <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-graduation-cap"></i></a>
                {% elsif link.label == 'GitHub' %}
                  <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
                {% elsif link.label == 'Email' %}
                  <a href="mailto:{{ link.url }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-envelope"></i></a>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>