---
layout: page
---
<style>
  .profile-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .profile-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(25% - 10px);
  }

  .profile-image {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 3px;
  }

  .profile-name {
    font-size: 16px;
    font-weight: 400;
  }

  .profile-role {
    font-size: 14px;
    font-weight: 300;
    color: #666;
  }

  .profile-links a {
  color: #333;
  font-size: 18px;
  margin-right: 5px;
  }

  .profile-links a:hover {
    color: #000;
  }

  @media (max-width: 768px) {
    .profile-item {
      width: calc(33.33% - 10px);
    }
  }

  @media (max-width: 576px) {
    .profile-item {
      width: calc(50% - 10px);
    }
  }
</style>

<div class="profile-image-container">
  {% if page.profiles %}
    {% for profile in page.profiles %}
      <div class="profile-item">

        {% if profile.image %}
          {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
          {% include figure.liquid loading="eager" path=profile_image_path class="profile-image z-depth-1" alt=profile.image %}
        {% endif %}
        <div class="profile-name">{{ profile.name }}</div>
        <div class="profile-role">{{ profile.role }}</div>

        {% if profile.links %}
          <div class="profile-links">
            {% for link in profile.links %}
            
              {% if link.label == 'Website' %}
                <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
                  <i class="fas fa-globe"></i>
                </a>

              {% elsif link.label == 'LinkedIn' %}
                <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-linkedin"></i>
                </a>

              {% elsif link.label == 'Google Scholar' %}
                <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
                  <i class="fas fa-graduation-cap"></i>
                </a>

              {% endif %}
            {% endfor %}
          </div>
        {% endif %}


      </div>
    {% endfor %}
  {% endif %}
</div>
